@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-8px) scale(0.95); }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}
@keyframes toastFade {
  0% { opacity: 0; transform: translateY(-10px) scale(0.95); }
  10% { opacity: 1; transform: translateY(0) scale(1); }
  90% { opacity: 1; transform: translateY(0) scale(1); }
  100% { opacity: 0; transform: translateY(-10px) scale(0.95); }
}

.animate-toastFade {
  animation: toastFade 3s ease-in-out forwards;
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
